body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}   

.container{
    width: 800px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.winter{
    background-color: lightblue;

}

.sprink {
    background-color: rgb(173, 230, 189);
}

.autumn {
    background-color: #f8b756;
}

main {
    margin: 40px;
}

main p{
    text-align: left;
    font-style: italic;
}

h1{
    text-align: center;
}

h2{
    color: blue;
    border-top: 2px solid #c2b77a;
    border-bottom: 2px solid #c2b77a;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
   background-color: #5e5419;
   margin-top: auto; 
}

footer p{
    width: 600px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: lightblue;
    font-size: 14px;
}

.author {
    text-align: right;
}



.sprink_text {
    color: rgb(173, 230, 216);
}


