body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}   

.container{
    width: 800px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.summer {
    background-color: #7bad7b;
}


.winter{
    background-color: lightblue;

}

.sprink {
    background-color: rgb(230, 173, 219);
}

.autumn {
    background-color: #f8b756;
}

main {
    margin: 40px;
}

main p{
    text-align: left;
    font-style: italic;
}

h1{
    text-align: center;
}

h2{
    border-top: 2px solid #c2b77a;
    border-bottom: 2px solid #c2b77a;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.summer_h2{
    color: rgb(1, 82, 22);
}

.winter_h2{
    color: blue;
}

.sprink_h2{
    color: rgb(255, 0, 174);
}

.autumn_h2{
    color: rgb(80, 58, 18);
}

footer {
   background-color: #5e5419;
   margin-top: auto; 
}

footer p{
    width: 600px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: lightblue;
    font-size: 14px;
}

.author {
    text-align: right;
}



.sprink_text {
    color: rgb(173, 230, 216);
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #5e5419;
    padding: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article{
    width: 250px;
    background-color: #5e5419;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article h3, article p{
    text-align: center;
    color: aliceblue;
}


